(
    name: "Kellua Saari",
    image: "kellua saari.png",
    description: "Setting where we do da stuff\n\nadded bits and jibs.",
    points: [
        (
            x: 100,
            y: 100,
            description: "Black Hills Forest1\n Place in the northwest corner of Kellua Saari",
        ),
        (
            x: 200,
            y: 100,
            description: "Weston\nTown in western Kellua Saari\n\nAdded bits and jibs\n\nagain mane",
        ),
    ],
)